<!DOCTYPE html>
<html>
<head>
    <title>Grade Assessment</title>

<!-- JQuery -->
<script src="//code.jquery.com/jquery-2.1.4.min.js"></script>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>

<!-- Helper Scripts -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.7.5/js/bootstrap-select.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.7.5/css/bootstrap-select.min.css">

<!-- Select Upgrades -->
<link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.2-rc.1/css/select2.min.css" rel="stylesheet" />
<script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.2-rc.1/js/select2.min.js"></script>
<link rel="stylesheet" href="css/select2-bootstrap.min.css">

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet" href="js/codemirror/lib/codemirror.css">
<script src="js/codemirror/lib/codemirror.js"></script>
<script src="js/codemirror/addon/edit/matchbrackets.js"></script>
<link rel="stylesheet" href="js/codemirror/addon/hint/show-hint.css">
<script src="js/codemirror/addon/hint/show-hint.js"></script>
<script src="js/clike.js"></script>

<meta charset="utf-8"/>
<style>
.CodeMirror {
    height: 300px;
        border: 1px solid #000;
}
body {
    margin-top: 70px;
    margin-bottom: 70px;
}
textarea {
    width: 100%;
}
.question-group .form-group {
    margin-left: 20px;
        margin-right: 20px;
}

.indented {
    margin-left: 20px;
    margin-right: 20px;
}

.recents {
    padding-right: 8px;
}

.panel-title {
    padding-top: 5px;
        padding-bottom: 5px;
}
</style>
</head>

<body role="document">
{% from 'page_navigation.html' import topNavigation,footer %}
{{ topNavigation(user) }}

<div class="container" role="main">
    <h1>{{data.info.title}}: Grading</h1>
    <p>Use the links below to grade the assessment.  Grading is done at random.</p>

    {% if data.message %}
    <div class="alert alert-01 alert-success" id="success-message">
        <p>{{data.message}}</p>
    </div><!-- end alert -->
    {% endif %}
    <div class="row">
        <div class="col-md-12">
            <div class="well well-lg">
            <p>Grading Progress</p> 
            <div class="progress" style="border: 1px solid #777; height: 1.6em">
                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{data.info.grading_progress.percent}}" aria-valuemin="0" aria-valuemax="100" style="width: {{data.info.grading_progress.percent}}%;">
                    {{data.info.grading_progress.percent}}%
                </div>
            </div>
            {% if data.info.questions|length < 5 %}
            {% set i = 1 %}
            {% for question in data.info.questions %}
            <p>Question {{i}}</p> 
            <div class="progress" style="border: 1px solid #777; height: 1.6em">
                <div class="progress-bar" role="progressbar" aria-valuenow="{{question.percent}}" aria-valuemin="0" aria-valuemax="100" style="width: {{question.percent}}%;">
                    {{question.percent}}%
                </div>
            </div>
            {% set i = i + 1 %}
            {% endfor %}
            {% endif %}
            <p style="text-align: right"> <a href="?c=grade_stats&e={{data.info.id}}" class="btn btn-sm btn-info"><i class="fa fa-pie-chart" aria-hidden="true"></i></a></p>
            </div>
        </div>

        <div class="col-md-12">
            <h2>Grading
                    <div class="btn-group pull-right">
                        {% if user.course_role == 'Instructor' %}  
                        <a class="btn btn-warning btn-sm" href="?c=grade_submitall&e={{data.info.id}}">
                            <i class="fa fa-arrow-circle-down" aria-hidden="true"></i> Submit Open Assessments
                        </a>
                        <a class="btn btn-success btn-sm" href="?c=autograde_mc&e={{data.info.id}}">
                            <i class="fa fa-magic" aria-hidden="true"></i> Autograde Multiple Choice
                        </a>
                        <!--<a class="btn btn-success btn-sm" href="?c=autograde_junit&e={{data.info.id}}">
                            <i class="fa fa-magic" aria-hidden="true"></i> Autograde Java Code
                        </a>-->
                        {% endif %}
                    </div></h2>
            {% set i = 1 %}
            {% for qid, question in data.info.questions %}
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="heading{{i}}">
                    <div class="btn-group pull-right">
                        {% if question.percent != 100 %}
                        <a class="btn btn-primary btn-sm" href="?c=grade_random&q={{question.id}}&e={{data.info.id}}">
                            <i class="fa fa-pencil" aria-hidden="true"></i> Grade Random</a>
                        {% else %}
                        <span class="btn btn-primary btn-sm disabled"><i class="fa fa-check" aria-hidden="true"></i> Grading Done</span>
                        {% endif %}
                        <a role="button" class="btn btn-warning btn-sm" data-toggle="collapse" href="#collapse{{i}}" aria-expanded="true" aria-controls="collapse{{i}}">
                            <i class="fa fa-history" aria-hidden="true"></i> Recently Graded
                        </a>
                        {% if user.course_role == 'Instructor'  and question.percent != 100 %}  
                        <a href="?c=grade_checkin&q={{question.id}}&e={{data.info.id}}" class="btn btn-danger btn-sm">
                            <i class="fa fa-undo" aria-hidden="true"></i> Check-in All
                        </a>
                        {% endif %}
                        {% if user.course_role == 'Instructor' %}  
                        <a role="button" class="btn btn-danger btn-sm" data-toggle="collapse" href="#collapseflag{{i}}" aria-expanded="true" aria-controls="collapseflag{{i}}">
                            <i class="fa fa-flag" aria-hidden="true"></i> View Flagged
                        </a>
                        {% endif %}
                    </div>
                    <h4 class="panel-title">
                        Question {{i}}
                    </h4>
                </div>
                <div id="collapse{{i}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{i}}">
                    <div class="panel-body">
                        {% for response in data.recents[question.id] %}
                        <span class="recents"><a href="?c=grade_one&q={{question.id}}&e={{data.info.id}}&p={{response.id}}">
                                {% if response.flagged %}
                                <span style="color: #e60000; font-weight: bold;"><i class="fa fa-flag" aria-hidden="true"></i> {{response.id}}</span>
                                {% else %}
                                {{response.id}}
                                {% endif %}
                            </a></span>
                        {% endfor %}
                    </div>
                </div>
                <div id="collapseflag{{i}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingflag{{i}}">
                    <div class="panel-body">
                        {% for response in data.questions[question.id].answers %}
                        {% if response.flagged %}
                        <span class="recents"><a href="?c=grade_one&q={{question.id}}&e={{data.info.id}}&p={{response.person_id}}">
                                <span style="color: #e60000; font-weight: bold;">{{response.person_id}}</span>
                            </a></span>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% set i = i + 1 %}
            {% endfor %}
        </div>
    </div>



</body>
</html>

