<!DOCTYPE html>
<html>
<head>
    <title>Grade One</title>

<!-- JQuery -->
<script src="//code.jquery.com/jquery-2.1.4.min.js"></script>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>

<!-- Helper Scripts -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.7.5/js/bootstrap-select.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.7.5/css/bootstrap-select.min.css">

<script src="js/bootstrap-toggle.min.js"></script>
<link rel="stylesheet" href="css/bootstrap-toggle.min.css">

<!-- Select Upgrades -->
<link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.2-rc.1/css/select2.min.css" rel="stylesheet" />
<script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.2-rc.1/js/select2.min.js"></script>
<link rel="stylesheet" href="css/select2-bootstrap.min.css">

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet" href="js/codemirror/lib/codemirror.css">
<script src="js/codemirror/lib/codemirror.js"></script>
<script src="js/codemirror/addon/edit/matchbrackets.js"></script>
<link rel="stylesheet" href="js/codemirror/addon/hint/show-hint.css">
<script src="js/codemirror/addon/hint/show-hint.js"></script>
<script src="js/clike.js"></script>

<meta charset="utf-8"/>
<style>
.CodeMirror {
    height: 300px;
        border: 1px solid #000;
}
body {
    margin-top: 70px;
    margin-bottom: 70px;
}
textarea {
    width: 100%;
}
.question-group .form-group {
    margin-left: 20px;
        margin-right: 20px;
}

.container {
    width: 90%!important;
}
</style>
</head>

<body role="document">
{% from 'page_navigation.html' import topNavigation,footer %}
{{ topNavigation(user) }}

<div class="container" role="main">
    <div class="row">
        <div class="col-md-9">
            <h1>Grading One Question</h1>
        </div>
        <div class="col-md-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h5 style="margin-top: 1px; margin-bottom: 1px;">Submission Information</h5>
                </div>
                <div class="panel-body">
                    <p>Student: <b>{{data.person_userid}}</b></p>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">

            <h3>Question Text</h3>
            {{data.text|raw}}    
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Correct Answer</label>
                        <textarea readonly class="codetext">{{data.correct}}</textarea>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Student Submission</label>
                        <textarea class="codetext" readonly>{{data.response}}</textarea>
                    </div>
                </div>
            </div>
            <form id="grade_form" name="gradeform" method="POST" action="?c=save_grade">
                <input type="hidden" name="exam" value="{{data.exam_id}}">
                <input type="hidden" name="question" value="{{data.question_id}}">
                <input type="hidden" name="student" value="{{data.person_id}}">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Rubric</label>
                            <pre>{{data.rubric}}</pre>
                        </div>
                        {% if data.auto_grader %}
                        <div class="form-group">
                            <label>Auto-Grader Feedback</label>
                            <pre>{{data.auto_grader}}</pre>
                        </div>

                        {% endif %}
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Grader Comments</label>
                            <textarea name="comments" style="height: 250px">{{data.feedback}}</textarea>
                        </div>
                        <div class="form-group">
                            <label>Final Score</label>
                            <div class="input-group">
                                <input id="score" type="text" class="form-control" name="score" value="{{data.current_score}}">
                                <span class="input-group-addon">/ {{data.score}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-right">
                        <input type="checkbox" data-toggle="toggle" data-on="<i class='fa fa-flag'></i> Flagged" data-off="Not Flagged"  data-onstyle="danger" name="flagged" value="yes" {{data.flagged ? 'checked'}}> &nbsp;&nbsp;&nbsp;&nbsp;
                        {% if not data.restricted %}
                        <button id="cancel" class="btn btn-danger">Cancel Grading</button>
                        <button id="submitnext" class="btn btn-primary">Save and Next</button>
                        {% endif %}
                        <button id="submithome" class="btn btn-primary">Save and Home</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script>

    function save(requireScore) {
          $("textarea").each(function() {
              var obj = $(this);
              if (obj.get(0).CodeMirror) {
                  obj.get(0).CodeMirror.save();  
              }
          });

        if (requireScore && ($("#score").val() == "" || $("#score").val() == null)) {
            alert("You MUST enter a score!");
            return false;
        } else {
            //document.gradeform.submit();
            $("#grade_form").submit();
            return true;
        }

    }
   
    $("#submithome").click(function(e) {
        e.preventDefault();
        return save(true); // save code mirror
    });
    
    $("#submitnext").click(function(e) {
        e.preventDefault();
        $('#grade_form').attr('action', '?c=save_grade_next');
        return save(true); // save code mirror
    });
    
    $("#cancel").click(function(e) {
        e.preventDefault();
        $('#grade_form').attr('action', '?c=cancel_grade');
        return save(false); // save code mirror
    });


    var mixedMode = {
        name: "htmlmixed",
        scriptTypes: [
            {
                matches: /\/x-handlebars-template|\/x-mustache/i,
                mode: null},
            {
                matches: /(text|application)\/(x-)?vb(a|script)/i,
                mode: "vbscript"
            }
        ]
    };
      loadTextareas();

      function loadTextareas() {
          $("textarea.textonly").each(function() {
              var obj = $(this);
              if (!obj.get(0).CodeMirror) {
                  obj.get(0).CodeMirror = CodeMirror.fromTextArea(obj.get(0), {
                      lineNumbers: true,
                      tabSize: 4
                  });
              }
          });
          $("textarea.htmltext").each(function() {
              var obj = $(this);
              if (!obj.get(0).CodeMirror) {
                  obj.get(0).CodeMirror = CodeMirror.fromTextArea(obj.get(0), {
                      lineNumbers: true,
                      tabSize: 4,
                      indentUnit: 4,
                      matchBrackets: true
                  });
                      //mode: mixedMode,
                      //selectionPointer: true
              }
          });
          $("textarea.codetext").each(function() {
              var obj = $(this);
              if (!obj.get(0).CodeMirror) {
                  obj.get(0).CodeMirror = CodeMirror.fromTextArea(obj.get(0), {
                      lineNumbers: true,
                      tabSize: 4,
                      indentUnit: 4,
                      matchBrackets: true,
                      mode: "text/x-java"
                  });
              }
          });
      }

    </script>
{{ footer() }}

</body>
</html>

