<!DOCTYPE html>
<html>
<head>
    <title>Exam Software Home</title>

<!-- JQuery -->
<script src="//code.jquery.com/jquery-2.1.4.min.js"></script>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>

<!-- Helper Scripts -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.7.5/js/bootstrap-select.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.7.5/css/bootstrap-select.min.css">

<!-- Select Upgrades -->
<link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.2-rc.1/css/select2.min.css" rel="stylesheet" />
<script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.2-rc.1/js/select2.min.js"></script>
<link rel="stylesheet" href="css/select2-bootstrap.min.css">

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- Datatables -->
<link rel="stylesheet" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
<script src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>

<style>
body {
    margin-top: 70px;
    margin-bottom: 70px;
}

.course {
    margin-bottom: 30px;
}

.coursetable {
    margin-bottom: 20px;
}
.coursetable tr {
    margin: 0px;
}

.coursetable td {
    padding: 7px;
}

.panel-title {
    padding-top: 5px;
        padding-bottom: 5px;
}
</style>
</head>

<body role="document">
{% from 'page_navigation.html' import topNavigation,footer %}
{{ topNavigation(user) }}


<div class="container" role="main">

    {% if data.message %}
    <div class="alert alert-success">{{data.message}}</div>
    {% endif %}
    {% if data.error %}
    <div class="alert alert-danger">{{data.error}}</div>
    {% endif %}

    <div class="row">
        <div class="col-md-12" id="accordian">
            {% set i = 0 %}
            {% for year, ydata in data %}
            <h3 style="border-bottom: 1px solid #ccc;">{{year}}</h3>
                {% for course, cdata in ydata %}
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="heading{{i}}">
                            <div class="btn-group pull-right">
                                {% if cdata.role == "Instructor" %}
                                <a href="?c=add_participant&course={{cdata.id}}" class='btn btn-sm btn-info'>
                                    <i class="fa fa-user" aria-hidden="true"></i>
                                    Add Participant</a>&nbsp;
                                <a href="?c=new_exam&course={{cdata.id}}" class='btn btn-sm btn-success'>
                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                    Create New Exam</a>
                                {% endif %}
                            </div>
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{{i}}" aria-expanded="true" aria-controls="collapse{{i}}">
                                    {{course}}: {{cdata.title}}
                                </a>
                            </h4>
                        </div>
                        <div id="collapse{{i}}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading{{i}}">
                            <div class="panel-body">
                                <table class="coursetable">
                                {% for exam in cdata.exams %}
                                <tr>
                                    <td>{{ exam.title}}</td>
                                    <td>
                                    {% if exam.closed %}
                                        <span class="btn btn-xs btn-primary disabled">Exam Closed</span> 
                                    {% elseif exam.date_taken == "" %}
                                        <a href="?c=exam&e={{exam.id}}" class="btn btn-xs btn-primary">Take Exam</a> 
                                    {% else %}
                                        <span class="btn btn-xs btn-primary disabled">Already Taken</span> 
                                    {% endif %}
                                    </td>
                                    {% if cdata.role == "Instructor" or cdata.role== "Secondary Instructor" or cdata.role == "Teaching Assistant" %}
                                        <td><a href="?c=grade&e={{exam.id}}" class="btn btn-xs btn-success">Grade</a></td>
                                    {% endif %}
                                    {% if cdata.role == "Instructor"%}
                                        <td><div class="btn-group">
                                            <button type="button" class="btn btn-xs btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Reports <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li><a href="?c=full_report&e={{exam.id}}">Full Results</a></li>
                                                <li><a href="?c=report&e={{exam.id}}">Missing / Timing Reports</a></li>
                                                <li role="separator" class="divider"></li>
                                                <li class="dropdown-header">Downloads</li>
                                                <li><a href="?c=download&e={{exam.id}}">Collab Assignments Package</a></li>
                                                <li><a href="?c=download&e={{exam.id}}&format=text-zip">Text-File Submissions Zip</a></li>
                                                <li><a href="?c=download&e={{exam.id}}&format=csv-summary">CSV Summary</a></li>
                                                <li><a href="?c=download&e={{exam.id}}&format=json-summary" target="_blank">JSON Summary</a></li>
                                            </ul>
                                            </div></td>
                                        <td>
                                        {% if exam.closed %}
                                            <a href="?c=open_exam&e={{exam.id}}&course={{cdata.id}}" class="btn btn-xs btn-danger">Open Submissions</a> 
                                        {% else %}
                                            <a href="?c=close_exam&e={{exam.id}}&course={{cdata.id}}" class="btn btn-xs btn-danger">Close Submissions</a> 
                                        {% endif %}
                                        </td>
                                        <td><div class="btn-group"><a href="?c=preview_exam&exam={{exam.id}}&course={{cdata.id}}" class="btn btn-xs btn-primary">Preview</a>
                                                <a href="?c=new_exam&exam={{exam.id}}&course={{cdata.id}}" class="btn btn-xs btn-info">Edit</a></div></td>
                                    {% endif %}
                                </tr>
                                {% endfor %}
                                </table>
                            </div>
                        </div>
                    </div>
                    {% set i = i + 1 %}
                {% endfor %}
            {% endfor %}
        </div>
    </div>
</div>
{{ footer() }}
</body>
</html>



