<!DOCTYPE html>
<html>
<head>
    <title>Edit Exam</title>

<!-- JQuery -->
<script src="//code.jquery.com/jquery-3.2.1.min.js"></script>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>



<!-- Helper Scripts -->
<script src="js/bootstrap-toggle.min.js"></script>
<link rel="stylesheet" href="css/bootstrap-toggle.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.7.5/js/bootstrap-select.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.7.5/css/bootstrap-select.min.css">

<!-- Select Upgrades -->
<link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.2-rc.1/css/select2.min.css" rel="stylesheet" />
<script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.2-rc.1/js/select2.min.js"></script>
<link rel="stylesheet" href="css/select2-bootstrap.min.css">

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet" href="js/codemirror/lib/codemirror.css">
<script src="js/codemirror/lib/codemirror.js"></script>
<script src="js/codemirror/addon/edit/matchbrackets.js"></script>
<link rel="stylesheet" href="js/codemirror/addon/hint/show-hint.css">
<script src="js/codemirror/addon/hint/show-hint.js"></script>
<script src="js/codemirror/mode/python/python.js"></script>
<script src="js/codemirror/mode/markdown/markdown.js"></script>
<script src="js/codemirror/mode/sql/sql.js"></script>
<script src="js/clike.js"></script>

<link href="//cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote.css" rel="stylesheet">
<script src="//cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote.js"></script>


<meta charset="utf-8"/>
<style>
.CodeMirror {
    /*height: 300px;*/
    height: auto;
        border: 1px solid #000;
}
body {
    margin-top: 70px;
    margin-bottom: 70px;
}
textarea {
    width: 100%;
}
.question-group .form-group {
    margin-left: 20px;
        margin-right: 20px;
}

.note-frame {
    margin-bottom: 2px;
}

.form-help {
    margin-top 0px;
    padding-top: 2px;
        color: #555;
    font-style:italic;
        text-align: right;
}

input[type="radio"] {
    margin-top: 0px;
}
</style>
</head>

<body role="document">
{% from 'page_navigation.html' import topNavigation,footer %}
{{ topNavigation(user) }}

<div class="container" role="main">
    {% if data.examdata.info.id %}
    <h1>Edit Exam: {{data.uva_id}}:{{data.title}}</h1>
    {% else %}
    <h1>New Exam: {{data.uva_id}}:{{data.title}}</h1>
    {% endif %}
    <p>Fill out the form below to create a new exam.</p>

    <div class="row">
        <div class="col-md-12">

            <form method="POST" action="?c=create_exam">
                <input type="hidden" name="course" value="{{data.id}}">
                <input type="hidden" name="exam" value="{{data.examdata.info.id}}">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="Exam Name" value="{{data.examdata.info.title}}">
                </div>
                <div class="form-group">
                    <label for="instructions">Instructions</label>
                    <textarea name="instructions" class="htmltext">{{data.examdata.info.instructions}}</textarea>
                </div>
                <div class="form-group">
                    <label for="timeallowed">Time Allowed</label>
                    <input type="text" class="form-control" id="timeallowed" name="timeallowed" placeholder="Time Allowed (mins)" value="{{data.examdata.info.time_allowed}}">
                </div>
                <div class="form-group">
                    <label for="timeenforced">Enforce Time</label>
                    <input type="checkbox" data-toggle="toggle" data-on="Enforced" data-off="Not Enforced"  data-onstyle="success" name="timeenforced" value="t" {{data.examdata.info.time_enforced == 't' ? 'checked'}}>
                </div>
                <div class="form-group">
                    <label for="timermethod">Timer Method</label>
                    <div class="radio">
                        <label>
                        <input type="radio" data-toggle="toggle" data-on="" data-onstyle="success" name="timermethod" value="bar-down" {{data.examdata.info.timer_method == 'bar-down' ? 'checked'}}> Countdown Bar
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                        <input type="radio" data-toggle="toggle" data-on="" data-onstyle="success" name="timermethod" value="bar-up" {{data.examdata.info.timer_method == 'bar-up' ? 'checked'}}> Countup Bar
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                        <input type="radio" data-toggle="toggle" data-on="" data-onstyle="success" name="timermethod" value="text-down" {{data.examdata.info.timer_method == 'text-down' ? 'checked'}}> Countdown text
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                        <input type="radio" data-toggle="toggle" data-on="" data-onstyle="success" name="timermethod" value="text-up" {{data.examdata.info.timer_method == 'text-up' ? 'checked'}}> Countup Text
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                        <input type="radio" data-toggle="toggle" data-on="" data-onstyle="success" name="timermethod" value="ten-warn" {{data.examdata.info.timer_method == 'ten-warn' ? 'checked'}}> Ten Minute Warning only
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                        <input type="radio" data-toggle="toggle" data-on="" data-onstyle="success" name="timermethod" value="choice" {{data.examdata.info.timer_method == 'choice' ? 'checked'}}> Student Choice
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                        <input type="radio" data-toggle="toggle" data-on="" data-onstyle="success" name="timermethod" value="study" {{data.examdata.info.timer_method == 'study' ? 'checked'}}> Current Study Method
                        </label>
                    </div>
                </div>
                {% if data.examdata.info.questions %}
                {% for question in data.examdata.info.questions %}
                <div class="question-group panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Question</h3>
                    </div>
                    <div class="panel-body">
                        <input type="hidden" name="questionid[]" value="{{question.id}}">
                        <div class="form-group">
                            <label for="question[]">Text</label>
                            <textarea name="question[]" class="htmltext">{{question.text}}</textarea>
                            <div class="form-help">Use <b>Shift+Enter</b> to enter a new line without a new paragraph.</div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="language[]">Question Type</label><br>
                                    <select name="language[]" class="language">
                                        <option {{ (question.language == 'java') ? "selected" : ""}} value="java">Java</option>
                                        <option {{ (question.language == 'python') ? "selected" : ""}} value="python">Python</option>
                                        <option {{ (question.language == 'markdown') ? "selected" : ""}} value="markdown">Markdown</option>
                                        <option {{ (question.language == 'sql') ? "selected" : ""}} value="sql">SQL</option>
                                        <option {{ (question.language == 'text') ? "selected" : ""}} value="text">Plain Text</option>
                                        <option {{ (question.language == 'multiplechoice') ? "selected" : ""}} value="multiplechoice">Multiple Choice</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="score[]">Max Points</label>
                                    <input type="text" class="form-control" name="score[]" placeholder="" value="{{question.score}}">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="code[]">Code/Student Scaffolding (Syntax Highlighted) or Multiple Choice Options</label>
                            <textarea name="code[]" class="codetext">{{question.code}}</textarea>
                            <div class="form-help">If unit tests are to be performed, this <b>must</b> lead to a complete compile-ready java file, including any needed import statements and subclasses.</div>
                        </div>
                        <div class="form-group">
                            <label for="answer[]">Answer (Syntax Highlighted)</label>
                            <textarea name="answer[]" class="codetext">{{question.correct}}</textarea>
                        </div>
                        <div class="form-group">
                            <label for="rubric[]">Rubric (Text Only)</label>
                            <textarea name="rubric[]" class="textonly">{{question.rubric}}</textarea>
                        </div>
                        <div class="form-group">
                            <label for="autograder[]">JUnit Tests</label>
                            <textarea name="autograder[]" class="codetext">{{question.unit_tests}}</textarea>
                            <div class="form-help">If unit tests are provided, these tests may be run on the student-submitted code.  Each test passed will be given equal weight into the student's grade.  This <b>must</b> be a complete compile-ready java file, including JUnit and other import statements.  You <b>should</b> use JUnit timeout annotations with the tests to ensure student code completes in a timely manner.</div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <div class="question-group panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Question</h3>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label for="question[]">Text (use HTML tags)</label>
                            <textarea name="question[]" class="htmltext"></textarea>
                            <div class="form-help">Use <b>Shift+Enter</b> to enter a new line without a new paragraph.</div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="language[]">Question Type</label><br>
                                    <select name="language[]" class="language">
                                        <option selected value="java">Java</option>
                                        <option value="python">Python</option>
                                        <option value="markdown">Markdown</option>
                                        <option value="sql">SQL</option>
                                        <option value="text">Plain Text</option>
                                        <option value="multiplechoice">Multiple Choice</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="score[]">Max Points</label>
                                    <input type="text" class="form-control" name="score[]" placeholder="">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="code[]">Code/Student Scaffolding (Syntax Highlighted) or Multiple Choice Options</label>
                            <textarea name="code[]" class="codetext"></textarea>
                            <div class="form-help">If unit tests are to be performed, this <b>must</b> lead to a complete compile-ready java file, including any needed import statements and subclasses.</div>
                        </div>
                        <div class="form-group">
                            <label for="answer[]">Answer (Syntax Highlighted)</label>
                            <textarea name="answer[]" class="codetext"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="rubric[]">Rubric (Text Only)</label>
                            <textarea name="rubric[]" class="textonly"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="autograder[]">JUnit Tests</label>
                            <textarea name="autograder[]" class="codetext"></textarea>
                            <div class="form-help">If unit tests are provided, these tests may be run on the student-submitted code.  Each test passed will be given equal weight into the student's grade.  This <b>must</b> be a complete compile-ready java file, including JUnit and other include statements.  You <b>should</b> use JUnit timeout annotations with the tests to ensure student code completes in a timely manner.</div>
                        </div>
                    </div>
                </div>
                {% endif %}

                <button id="addquestion" class="btn btn-primary">Add Question</button>
                &nbsp; 
                {% if data.examdata.info.id %}
                <button id="submit" type="submit" class="btn btn-default">Update Exam</button>
                {% else %}
                <button id="submit" type="submit" class="btn btn-default">Create Exam</button>
                {% endif %}
            </form>
        </div>
    </div>
</div>
<script>

    var mixedMode = {
        name: "htmlmixed",
        scriptTypes: [
            {
                matches: /\/x-handlebars-template|\/x-mustache/i,
                mode: null},
            {
                matches: /(text|application)\/(x-)?vb(a|script)/i,
                mode: "vbscript"
            }
        ]
    };
      loadTextareas();
      updateCodemirrors();

      function loadTextareas() {
          $(".container").find("textarea.textonly").each(function() {
              var obj = $(this);
              if (!obj.get(0).CodeMirror) {
                  obj.get(0).CodeMirror = CodeMirror.fromTextArea(obj.get(0), {
                      lineNumbers: true,
                      mode: "text/plain",
                      tabSize: 4,
                      viewportMargin: Infinity
                  });
              }
          });
          $(".container").find("textarea.htmltext").each(function() {
              var obj = $(this);
              if (!obj.get(0).SummerNote) {
                  obj.get(0).SummerNote = obj.summernote({
                        //height: 300,
                         toolbar: [
                            // [groupName, [list of button]]
                            ['style', ['style']],
                            ['font', ['bold', 'italic', 'underline', 'strikethrough', 'superscript', 'subscript']],
                            ['fontsize', ['fontsize']],
                            ['color', ['color']],
                            ['para', ['ul', 'ol', 'paragraph']],
                            ['insert', ['table', 'picture']],
                            ['view', ['codeview']]
                          ]

                  });
                      //mode: mixedMode,
                      //selectionPointer: true
              }
          });
          /*
          $("textarea.htmltext").each(function() {
              var obj = $(this);
              if (!obj.get(0).CodeMirror) {
                  obj.get(0).CodeMirror = CodeMirror.fromTextArea(obj.get(0), {
                      lineNumbers: true,
                      tabSize: 4,
                      indentUnit: 4,
                      matchBrackets: true
                  });
                      //mode: mixedMode,
                      //selectionPointer: true
              }
          });
          */
          $(".container").find("textarea.codetext").each(function() {
              var obj = $(this);
              if (!obj.get(0).CodeMirror) {
                  obj.get(0).CodeMirror = CodeMirror.fromTextArea(obj.get(0), {
                      lineNumbers: true,
                      tabSize: 4,
                      indentUnit: 4,
                      matchBrackets: true,
                      mode: "text/x-java"
                  });
              }
          });
      }

      function updateCodemirrors() {
          $(".container").find("textarea.codetext").each(function() {
              var obj = $(this);
              var mode = "text/x-java";
              var tmp = obj.closest(".question-group").find(".language").children("option:selected").val();
              console.log(tmp);
              if (tmp == "multiplechoice")
                  mode = "text/plain";
              if (tmp == "text")
                  mode = "text/plain";
              if (tmp == "markdown")
                  mode = "text/x-markdown";
              if (tmp == "sql")
                  mode = "text/x-mysql";
              if (tmp == "python")
                  mode = "text/x-python";
              if (obj.get(0).CodeMirror) {
                  obj.get(0).CodeMirror.setOption("mode", mode);
              }
          });
      }

        $('#addquestion').click(function(){
            var text = $('#questiontemplate').clone();
            var html = text.html();
            $('#addquestion').before(html);
            loadTextareas();
            $(".language").off("change").change(function() {
                updateCodemirrors();
            });
            return false;
        });

        $('#submit').click(function(){
            //javaEditor.save();
            $("textarea.codetext").each(function() {
                var obj = $(this);
                if (obj.get(0).CodeMirror) {
                    obj.get(0).CodeMirror.save();
                }
            });
            return true;
        });


        $(".language").change(function() {
            updateCodemirrors();
        });


    </script>
{{ footer() }}

<div style="display: none;" id="questiontemplate">
                <div class="question-group panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Question</h3>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label for="question[]">Text (use HTML tags)</label>
                            <textarea name="question[]" class="htmltext"></textarea>
                            <div class="form-help">Use <b>Shift+Enter</b> to enter a new line without a new paragraph.</div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="language[]">Question Type</label><br>
                                    <select name="language[]" class="language">
                                        <option selected value="java">Java</option>
                                        <option value="python">Python</option>
                                        <option value="markdown">Markdown</option>
                                        <option value="sql">SQL</option>
                                        <option value="text">Plain Text</option>
                                        <option value="multiplechoice">Multiple Choice</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="score[]">Max Points</label>
                                    <input type="text" class="form-control" name="score[]" placeholder="">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="code[]">Code/Student Scaffolding (Syntax Highlighted) or Multiple Choice Options</label>
                            <textarea name="code[]" class="codetext"></textarea>
                            <div class="form-help">If unit tests are to be performed, this <b>must</b> lead to a complete compile-ready java file, including any needed import statements and subclasses.</div>
                        </div>
                        <div class="form-group">
                            <label for="answer[]">Answer (Syntax Highlighted)</label>
                            <textarea name="answer[]" class="codetext"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="rubric[]">Rubric (Text Only)</label>
                            <textarea name="rubric[]" class="textonly"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="autograder[]">JUnit Tests</label>
                            <textarea name="autograder[]" class="codetext"></textarea>
                            <div class="form-help">If unit tests are provided, these tests may be run on the student-submitted code.  Each test passed will be given equal weight into the student's grade.  This <b>must</b> be a complete compile-ready java file, including JUnit and other include statements.  You <b>should</b> use JUnit timeout annotations with the tests to ensure student code completes in a timely manner.</div>
                        </div>
                    </div>
                </div>
</div>
</body>
</html>

