<!DOCTYPE html>
<html>
<head>
    <title>Exam View</title>

<!-- JQuery -->
<script src="//code.jquery.com/jquery-2.1.4.min.js"></script>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>

<!-- Helper Scripts -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.7.5/js/bootstrap-select.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.7.5/css/bootstrap-select.min.css">

<!-- Select Upgrades -->
<link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.2-rc.1/css/select2.min.css" rel="stylesheet" />
<script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.2-rc.1/js/select2.min.js"></script>
<link rel="stylesheet" href="css/select2-bootstrap.min.css">

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet" href="js/codemirror/lib/codemirror.css">
<script src="js/codemirror/lib/codemirror.js"></script>
<script src="js/codemirror/addon/edit/matchbrackets.js"></script>
<link rel="stylesheet" href="js/codemirror/addon/hint/show-hint.css">
<script src="js/codemirror/addon/hint/show-hint.js"></script>
<script src="js/codemirror/mode/python/python.js"></script>
<script src="js/codemirror/mode/markdown/markdown.js"></script>
<script src="js/clike.js"></script>

<meta charset="utf-8"/>
<style>
.CodeMirror {
    /*height: 500px;*/
    height: auto;
}
body {
    margin-top: 70px;
    margin-bottom: 70px;
    /*background-color: #e7e7ff;*/
}
</style>
</head>

<body role="document">
{% from 'page_navigation.html' import topNavigation,footer %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand active" href="?">Home</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                {% if user.admin %}
                    <li><a href="?c=new_course">New Course</a></li>
                {% endif %}
            </ul>
            <div class="navbar-right">
                <ul class="nav navbar-nav">
                    {% if data.info.time_allowed %}
                    <li>
                        {% if data.info.timer_method == 'bar-down' %}
                        <div class="progress" style="margin-top: 15px; margin-bottom: 15px; width: 400px; text-align: center;">
                            <div class="progress-bar progress-bar-info" id="timerbar" role="progressbar" aria-valuenow="{{data.info.time.percleft}}" aria-valuemin="0" aria-valuemax="100" style="width: {{data.info.time.percleft}}%;">
                            </div>
                            <span id="timertext" style="position:absolute; right:0; left:0;color:#333; font-size: 12px;">{{ data.info.time.left }} minutes remaining</span>
                        </div>
                        {% elseif data.info.timer_method == 'bar-up' %}
                        <div class="progress" style="margin-top: 15px; margin-bottom: 15px; width: 400px; text-align: center;">
                            <div class="progress-bar progress-bar-info" id="timerbar" role="progressbar" aria-valuenow="{{100 - data.info.time.percleft}}" aria-valuemin="0" aria-valuemax="100" style="width: {{100 - data.info.time.percleft}}%;">
                            </div>
                            <span id="timertext" style="position:absolute; right:0; left:0;color:#333; font-size: 12px;">Elapsed time: {{ data.info.time.elapsed }} mins</span>
                        </div>
                        {% endif %}
                    </li>
                    {% endif %}
                    <li><a href="#"><i class="fa fa-user-circle" aria-hidden="true"></i> {{user.name}}</a></li>
                </ul>
            </div>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div class="container" role="main">
    <h1>{{data.title}}: {{user.name}} ({{user.uva_id}})</h1>

    {% if data.instructions %}
    <div class="well well-lg">{{data.instructions|raw}}</div>
    {% endif %}

<form id="questionform" name="questionform" method="post" action="?c=submit_exam">
    <input type="hidden" name="e" value="{{data.id}}">
    <input type="hidden" name="uva_id" value="{{user.uva_id}}">
    {% set i = 1%}
    {% for question in data.questions %}
    <h3>Question {{i}}</h3>    
        <div>{{question.text|raw}}</div>
        <input type="hidden" name="q[]" value="{{question.id}}">
        <div style="margin-left:auto; margin-right: auto; width: 100%; height: 80%; border: 1px solid #000; margin-top:20px; margin-bottom:40px;">
            <textarea name="response[]" class="la-{{question.language}}" style="width: 100%; height: 100%;">{{question.code}}</textarea>
        </div>
        {% set i = i + 1 %}
    {% endfor %}
    <div class="row" style="margin-left:auto; margin-right: auto; width: 100%; height: 80%; margin-top: 10px; margin-bottom: 30px;">
        <div class="col-md-8">
            <div class="" id="autosave-message">
                <p>Last saved: <span id="autosave-time">never</span></p>
            </div>
            <div class="alert alert-01 alert-warning" id="notification-message" style="display: none">
                <p></p>
            </div><!-- end alert -->
            <div class="alert alert-01 alert-success" id="success-message" style="display: none">
                <p></p>
            </div><!-- end alert -->
            <div class="alert alert-01 alert-danger" id="error-message"  style="display: none">
                <p></p>
            </div><!-- end alert -->
        </div>
        <div class="col-md-4" style="text-align:right; ">
            <button class="btn btn-primary" id="save">Save Progress</button>
            <button class="btn btn-danger" id="submitBtn">Submit Exam</button>
        </div>
    </div>

</form>
<script>
      var submitting = false;
      var lastsave = false;
      $("textarea.la-java").each(function() {
          var obj = $(this);
          obj.get(0).CodeMirror = CodeMirror.fromTextArea(obj.get(0), {
              lineNumbers: true,
              tabSize: 4,
              indentUnit: 4,
              viewportMargin: Infinity,
              matchBrackets: true,
              mode: "text/x-java"
          });
      });
      $("textarea.la-python").each(function() {
          var obj = $(this);
          obj.get(0).CodeMirror = CodeMirror.fromTextArea(obj.get(0), {
              lineNumbers: true,
              tabSize: 4,
              indentUnit: 4,
              viewportMargin: Infinity,
              matchBrackets: true,
              mode: "text/x-python"
          });
      });
      $("textarea.la-markdown").each(function() {
          var obj = $(this);
          obj.get(0).CodeMirror = CodeMirror.fromTextArea(obj.get(0), {
              lineNumbers: true,
              tabSize: 4,
              indentUnit: 4,
              viewportMargin: Infinity,
              matchBrackets: true,
              mode: "text/x-markdown"
          });
      });
      $("textarea.la-text").each(function() {
          var obj = $(this);
          obj.get(0).CodeMirror = CodeMirror.fromTextArea(obj.get(0), {
              lineNumbers: true,
              tabSize: 4,
              indentUnit: 4,
              viewportMargin: Infinity,
              mode: "text/plain"
          });
      });

      function saveTextAreas() {
          // Save any XML editor contents back to their text areas before saving
          $("textarea").each(function() {
              var obj = $(this);
              if (obj.get(0).CodeMirror) {
                  obj.get(0).CodeMirror.save();  
              }
          });
      }

      function save(autosave) {
            if (!autosave) {
                // Open up the warning alert box and note that we are saving
                $('#notification-message').html("<p>Saving answer... Please wait.</p>");
                $('#notification-message').slideDown();
            }
            saveTextAreas();  

            // Send the data back by AJAX call
            $.post("?c=save_exam", $("#questionform").serialize(), function (data) {
                // Check the return value from the ajax. If success, then alert the
                // user and make appropriate updates.
                if (data.result == "success") {
                    {% if data.info.time_allowed %}
                        if ((typeof data.time) != 'undefined') {
                            timeleft = data.time.left;
                        }
                    {% endif %}
                    console.log(data);
                    var currentdate = new Date(); 
                    var datetime = (currentdate.getMonth()+1)  + "/"
                                    + currentdate.getDate() + "/" 
                                    + currentdate.getFullYear() + " "  
                                    + currentdate.getHours() + ":"  
                                    + currentdate.getMinutes() + ":" 
                                    + currentdate.getSeconds();
                    $("#autosave-time").text(datetime);
                    if (!autosave) {
                        $('#notification-message').slideUp();
                        // Show the success alert
                        $('#success-message').html("<p>Saved successfully!</p>");
                        setTimeout(function(){
                            $('#success-message').slideDown();
                        }, 1000);
                        setTimeout(function(){
                            $('#success-message').slideUp();
                        }, 3000);
                    }
                } else {
                    $('#notification-message').slideUp();
                    // Something went wrong in the ajax call. Show an error.
                    console.log(data);
                    $('#error-message').html("<p>Error: "+data.error+".  Please show your work to a TA before submitting.</p>");
                    $('#error-message').slideDown();
                }

            });
      }

        // Autosave
        var autosave = function() {
            save(true);
        }
        var autosavetimout = setInterval(autosave, 200000);

        {% if data.info.time_allowed %}
        var timer_method = '{{data.info.timer_method}}';
        var timeallowed = {{data.info.time_allowed}};
        var timeleft = {{data.info.time.left ? data.info.time.left : 0}};
        var timeelapsed = {{data.info.time.elapsed ? data.info.time.elapsed : 0}};
        var alerted = false;
        var updateTimerInfo = function() {
            var percleft = ((timeleft / timeallowed)*100);
            console.log(timeleft + ' ' + percleft + ' ' + timeallowed);
            if (timer_method == 'bar-down') {
                $('#timerbar').css('width', percleft+'%').attr('aria-valuenow',percleft);
                $('#timertext').text(timeleft + " minutes remaining");
            } else if (timer_method == 'bar-up') {
                $('#timerbar').css('width', (100-percleft)+'%').attr('aria-valuenow',(100-percleft));
                $('#timertext').text("Elapsed time: " + timeelapsed + " mins");
            }
            {% if data.info.time_enforced == 't' %}
            if (timeleft < 5 && timeleft > 0) {
                autosave();
                $('#timerbar').removeClass('progress-bar-info');
                $('#timerbar').addClass('progress-bar-danger');
            }

            if (timeleft <= 2 && timeleft > 0 && !alerted) {
                alert("Please finish up your work, there is about a minute left.");
                alerted = true;
            }
            if (timeleft <= 0) {
                // We are not going to prompt this time, just submit the page
                window.onbeforeunload = function() {};
                document.questionform.submit();
            }
            {% endif %}

        }
        var timer = function() {
            timeleft = timeleft - 1;
            timeelapsed = timeelapsed + 1;
            updateTimerInfo();
        }
        var timertimeout = setInterval(timer, 60000); // update every minute
        updateTimerInfo(); // run on page load
        {% endif %}

        $('#save').click(function(){
            save(false);
            return false;
        });

        $('#submitBtn').click(function(){
            submitting = true;
            saveTextAreas();
            if (confirm("Are you completely finished with the coding portion of the exam?  You may not return."))
                document.questionform.submit();
            else {
                submitting = false;
                return false;
            }
        });


        function unloadPage(e) {
            if (!submitting) {
                var message = 'You may have unsaved changes on this exam.  Are you sure you want to leave the page?';
                var e = e || window.event;
                // For IE and Firefox
                if (e) { e.returnValue = message; }
                // For Safari
                return message;
            }
        }
        window.onbeforeunload = unloadPage;


    </script>
{{ footer() }}
</body>
</html>
