.progress-bar-grayone {
      background-color: #b0b0b0;
      background-image: -webkit-linear-gradient(top,#b0b0b0 0,#a1a1a1 100%);
      background-image: -o-linear-gradient(top,#b0b0b0 0,#a1a1a1 100%);
      background-image: -webkit-gradient(linear,left top,left bottom,from(#b0b0b0),to(#a1a1a1));
      background-image: linear-gradient(to bottom,#b0b0b0 0,#a1a1a1 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffb0b0b0', endColorstr='#ffa1a1a1', GradientType=0);
      background-repeat: repeat-x;
}
.progress-bar-graytwo {
      background-color: #a1a1a1;
      background-image: -webkit-linear-gradient(top,#a1a1a1 0,#8f8f8f 100%);
      background-image: -o-linear-gradient(top,#a1a1a1 0,#8f8f8f 100%);
      background-image: -webkit-gradient(linear,left top,left bottom,from(#a1a1a1),to(#8f8f8f));
      background-image: linear-gradient(to bottom,#a1a1a1 0,#8f8f8f 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffa1a1a1', endColorstr='#ff8f8f8f', GradientType=0);
      background-repeat: repeat-x;
}
.progress-bar-graythree {
      background-color: #707070;
      background-image: -webkit-linear-gradient(top,#707070 0,#525252 100%);
      background-image: -o-linear-gradient(top,#707070 0,#525252 100%);
      background-image: -webkit-gradient(linear,left top,left bottom,from(#707070),to(#525252));
      background-image: linear-gradient(to bottom,#707070 0,#525252 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff707070', endColorstr='#ff525252', GradientType=0);
      background-repeat: repeat-x;
}

.progress-bar-success {
    background-image: -webkit-linear-gradient(top,#7adbac 0,#50cf92 100%);
    background-image: -o-linear-gradient(top,#7adbac 0,#50cf92 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#7adbac),to(#50cf92));
    background-image: linear-gradient(to bottom,#7adbac 0,#50cf92 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff7adbac', endColorstr='#ff50cf92', GradientType=0);
    background-repeat: repeat-x;
}

.progress-bar-greenone {
      background-color: #acdf87;
      background-image: -webkit-linear-gradient(top,#acdf87 0,#68bb59 100%);
      background-image: -o-linear-gradient(top,#acdf87 0,#68bb59 100%);
      background-image: -webkit-gradient(linear,left top,left bottom,from(#acdf87),to(#68bb59));
      background-image: linear-gradient(to bottom,#acdf87 0,#68bb59 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffacdf87', endColorstr='#ff68bb59', GradientType=0);
      background-repeat: repeat-x;
}
.progress-bar-greentwo {
      background-color: #68bb59;
      background-image: -webkit-linear-gradient(top,#68bb59 0,#4c9a2a 100%);
      background-image: -o-linear-gradient(top,#68bb59 0,#4c9a2a 100%);
      background-image: -webkit-gradient(linear,left top,left bottom,from(#68bb59),to(#4c9a2a));
      background-image: linear-gradient(to bottom,#68bb59 0,#4c9a2a 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff68bb59', endColorstr='#ff4c9a2a', GradientType=0);
      background-repeat: repeat-x;
}
.progress-bar-greenthree {
      background-color: #4c9a2a;
      background-image: -webkit-linear-gradient(top,#4c9a2a 0,#1E5631 100%);
      background-image: -o-linear-gradient(top,#4c9a2a 0,#1E5631 100%);
      background-image: -webkit-gradient(linear,left top,left bottom,from(#4c9a2a),to(#1E5631));
      background-image: linear-gradient(to bottom,#4c9a2a 0,#1E5631 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff4c9a2a', endColorstr='#ff1E5631', GradientType=0);
      background-repeat: repeat-x;
}

