<?php
/**
 * Configuration
 *
 * This file contains configuration parameters for the testing software.
 *
 * @author Robbie Hott
 * @license https://opensource.org/licenses/Apache-2.0 Apache-2.0
 * @copyright 2019
 */

namespace manager;

/**
 * Config class
 */
class Config {

    /**
     * Database connection information
     */
    public static $DATABASE = [
        "host" => "localhost",
        "port" => "5432",
        "database" => "DBNAME",
        "user" => "USERNAME",
        "password" => "PASSWORD"
    ];

    /**
     * Location of the template files
     */
    public static $TEMPLATE_DIR = "/PATH/TO/src/control/templates";

    /**
     * Temporary directory (for generation of zip files)
     */
    public static $TEMP_DIR = "/PATH/TO/tmp";

    /**
     * Log file location
     */
    public static $LOG_FILE = "/PATH/TO/log.txt";
    
    /**
     * Valid roles for participants
     */
    public static $VALID_ROLES = ["Student", "Instructor", "Secondary Instructor", "Teaching Assistant"];
    
    /**
     * IP Address to SSH for testing
     */
    public static $TEST_MACHINE = "ipaddress";

    /**
     * User ID on the test machine
     */
    public static $TEST_MACHINE_USER = "testinguser";

    /**
     * Location of SSH Key for ssh
     */
    public static $TEST_MACHINE_RSA = "/PATH/TO/ssh_key";

    /**
     * Directory to use on test machine
     */
    public static $TEST_MACHINE_DIR = "/full/path/to/test/";
}
